body {
    font-family: 'Nanum Pen Script', cursive;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    border-bottom: 2px outset rgb(0, 0, 0);
    background-color: white;
}

header nav {
    flex-grow: 1;
}

a {

    color: rgb(0, 0, 0);
    text-decoration-line: none;
}

header ul {

    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header li {
    font-size: 20px;
    font-weight: 400;
    color: dimgrey;
}

main {margin-top: 50px;
    display: flex;
}

#s1 {
    margin: 20px;
    border: 1px solid rgb(0, 0, 0);
}

#a1 {
    margin-left: 0px;
}

#a1 ul {
    list-style: none;

}

#s1 img {
    border-bottom: 1px dashed rgb(0, 0, 0);
    width: auto;
    height: auto;
    max-width: 300px;
    max-height: 300px;

}

#s2 {
    margin: 20px;
    flex-grow: 1;
    justify-content: space-around;

}

#s2 article {
    border-bottom: 1px solid black;
    padding-bottom: 30px;
}
#s2 summary{
    line-height: 1rem;
    list-style-type: none;
    cursor: pointer;
    transition: color var(--transition);
}
details summary::after {
    display: block;
    width: 1rem;
    height: 1rem;
    -webkit-margin-start: calc(var(--spacing,1rem) * 0.5);
    margin-inline-start: calc(var(--spacing,1rem) * .5);
    float: right;
    transform: rotate(-90deg);
    background-image: var(--icon-chevron);
    background-position: right center;
    background-size: 1rem auto;
    background-repeat: no-repeat;
    content: "";
    transition: transform var(--transition);
    color: black;
}
footer  {
    display: flex;
    justify-content: center;
    
}